.navButton {
  margin: 10px 10px 0px 0px;
  padding: 7px;
  border-radius: 5%;
  background-color: rgb(177, 191, 194);
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.25s ease-in-out;
}
.navButton:hover {
  background-color: rgb(22, 177, 177);
}
